.imgFundo[b-ovudhxjl3a] {
    background-image: url('https://img.freepik.com/fotos-premium/arfando-pastor-alemao-sentado_191971-8131.jpg?w=740');
    background-repeat:no-repeat;
    height:100%;
}
label[b-ovudhxjl3a] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card[b-ovudhxjl3a] {
    text-align: left;
    max-width: 450px;
    min-height: 400px;
    padding: 40px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}